.inner {
    max-width: 1290px;
    margin: 0 auto;
}

.default {
    padding: 80px 0;
}

.default .title {
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.default .title h2 {
    font-size: 32px;
    font-weight: 600;
    font-family: "Noto Serif KR", serif;
}

.default .title p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.default_btn.c {
    position: absolute;
    margin-top: 24px;
    padding: 16px 48px;
    color: #333;
    transition: 0.3s;
    border: 1px solid #333;
    background: #fff;
    font-weight: 500;
}

.default_btn.c:hover {
    color: #fff;
    border: 1px solid #b5936f;
    background: #b5936f;
}

.flx {
    display: flex;
    gap: 3rem;
}

.flx>* {
    flex: 1;
}


@media (max-width:768px) {
    .flx {
        flex-direction: column;
    }
}